:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --headings-text: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: #2e2f42;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--body-text);
  font-family: roboto, sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Шапка */

.page-header {
  background-color: var(--white);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.top-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: raleway, sans-serif;
  color: var(--headings-text);

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--primary-brand);
}

.main-nav {
  display: flex;
  align-items: center;
}

.auth {
  margin-left: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.auth-link {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--headings-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
  color: var(--pressed-state);
}

.studio::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.portfolio-link-p::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--body-text);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.top-item {
  margin-right: 40px;
}

.top-item:last-child {
  margin-right: 0;
}

/* hero */

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* strategy */

.strategy {
  background-color: var(--white);
  padding-bottom: 120px;
  padding-top: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.strategy-items {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.strategy-item {
  width: 264px;
  margin-right: 24px;
}

.strategy-icon {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
}

.strat-icon {
  width: 64px;
  height: 64px;
}

.strategy-item:last-child {
  margin-right: 0;
}

.strat-title {
  margin-top: 0;
  margin-bottom: 0;
}

.strategy-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text);
}

.strategy-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* work */

.work {
  padding-bottom: 120px;
}
.work-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--headings-text);
}

.work-items {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.work-item {
  margin-right: 24px;
}

.work-item:last-child {
  margin-right: 0;
}

/* team */

.team {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-family: roboto, sans-serif;
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--headings-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-items {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.team-item {
  margin-right: 24px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:last-child {
  margin-right: 0;
}

.team-item-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--headings-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--body-text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.bord {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-items {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-top: 8px;
  padding-left: 0;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  width: 16px;
  height: 16px;
}

/* Customers */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers-items {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.customers-item {
  list-style: none;
}

.customers-item:last-child {
  margin-right: 0;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: var(--subtle-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:focus,
.customers-link:hover {
  border-color: var(--pressed-state);
  fill: var(--pressed-state);
}

.icon-item {
  width: 104px;
  height: 56px;
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--headings-text);
}

/* display: flex; */
/* width: 1158px;
  padding-left: 15px;
  padding-right: 15px; */
/* margin-left: auto;
  margin-right: auto; */

.footer-logo {
  /* margin-bottom: 16px; */
  font-family: raleway, sans-serif;
  color: var(--white);

  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-text {
  width: 264px;
  margin: 0;

  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.footer-media {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-items {
  display: flex;

  gap: 16px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-social {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--body-text);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success);
}
.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-cont {
  max-width: 268px;
  margin-left: 0;
  margin-right: 80px;
  padding: 0;
}

.footer-cont:last-child {
  margin-right: 0;
}

.footer-container {
  display: flex;
}

.footer-subscribe {
  display: flex;
  margin-top: 16px;
}
.footer-mail {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-button {
  display: flex;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* padding-left: 24px;
  padding-right: 16px; */
  width: 165px;
  height: 40px;

  margin-left: 24px;
  background-color: var(--primary-brand);
  cursor: pointer;
  color: var(--white);
  fill: var(--white);
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--pressed-state);
}

.footer-icon-send {
  margin-left: 16px;
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 72px;
  padding-left: 0;
}

.portfolio-btn {
  margin-right: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  list-style: none;
}

.portfolio-btn:last-child {
  margin-right: 0;
}

.btn {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.portfolio-works {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 48px 24px;
}

.portfolio-work-item {
  width: 360px;
}

.portfolio-work-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--primary-brand);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-work-title {
  /* padding-top: 32px; */
  margin-top: 0;
  margin-bottom: 0;
  color: var(--headings-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-work-text {
  margin-top: 8px;
  /* margin-bottom: 32px; */
  color: var(--body-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-bord {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-link-p {
  color: var(--pressed-state);
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale (0.7);
}

.modal-close {
  display: flex;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-state);
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--headings-text);
  text-align: center;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand);
}

.modal-label-text {
  font-size: 12px;
  color: var(--subtle-text);
  display: block;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;

  margin-top: 4px;
}

.modal-field {
  margin-bottom: 8px;
  /* gap: 8px; */
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
  margin-top: 4px;

  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  gap: 8px;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--headings-text);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.modal-link {
  color: var(--primary-brand);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.form-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  cursor: pointer;

  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--pressed-state);
}
